body {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size: 16px;
}
header {
	background-color: #222;
	padding: 6px 0px;
	text-align: center;
	color: white;
}
header .title {
	font-weight: bold;
	font-size: 12px;
}
header .subtitle {
	font-size: 10px;
}
.page-title {
	background-color: #EEE;
	padding: 10px 0px;
}
.page-title h1 {
	margin: 0px;
	font-size: 18px;
	text-align: center;
}
.page-title h1 span {
	font-weight: lighter;
}
.container {
	text-align: center;
	padding: 30px 0px;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}
.container a {
	display: block;
	width: auto;
	margin-bottom: 15px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: #222;
	padding: 10px 0px;
	padding-left: 25px;
	line-height: 20px;
	border-radius: 30px;
	text-align: left;
	background-image: url(../images/facebook.png);
	background-size: 20px auto;
	background-repeat: no-repeat;
	background-position: right 20px center;
	text-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}
.container a:last-child {
	margin-bottom: 0px;
}
.container a.facebook {
	background-color: #3b5999;
	background-image: url(../images/facebook.png);
}
.container a.twitter {
	background-color: #55acee;
	background-image: url(../images/twitter.png);
}
.container a.instagram {
	background-color: #e4405f;
	background-image: url(../images/instagram.png);
	background: linear-gradient(120deg, #4c68d7, #8a3ab9, #bc2a8d, #cd486b, #e95950, #fbad50, #fccc63);
}
.container a.linkedIn {
	background-color: #0077B5;
	background-image: url(../images/linkedIn.png);
}
.container a.youtube {
	background-color: #cd201f;
	background-image: url(../images/youtube.png);
}
.container a.gitlab {
	background-image: url(../images/gitlab.jpg);
	border: 1px solid #eee;
}
.container a.none {
	background-color: transparent;
	color: black;
	text-shadow: none;
	font-size: 12px;
}
.container a.gitlab:hover {
	background-color: #eee;
}
.container a.nk-website {
	background: none;
	text-align: center;
	text-transform: lowercase;
	padding: 0px;
}
.container a.nk-website:hover {
	text-decoration: underline;
}